<!--
This is the template that is processed by
Webpack's HTML plugin and ultimately leads
to bootstrapping the game.
-->
<!doctype html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <style>
      html, body {
        margin:0;
        padding:0;
        font-size: 14px;
        font-family: "Noto Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: regular;
        font-style: normal;
        font-variation-settings:
          "wdth" 100;
      }
    </style>
    <meta charset="utf-8" />
    <!-- TODO: inject version number -->
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <agricola-app></agricola-app>
  </body>
</html>

