<!--
This is the template that is processed by
Webpack's HTML plugin and ultimately leads
to bootstrapping the game.
-->
<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <agricola-app />
  </body>
</html>

